.button {
  display: block;
  padding: 18px;

  font: inherit;
  font-weight: normal;
  @include font(24px, 700, 28px, "Bebas Neue", $white);
  text-align: center;

  background-color: $blue;
  border: none;

  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.9;
  }
}
