.intro {
  @include back("../img/intro.jpg");
  background-size: cover;
  margin-top: -121px;
}

.intro__wrapper {
  padding: 124px 20px 0;
  margin: 0 auto;
  max-width: $mobile-middle-width;
  display: flex;
  flex-direction: column;
}

.intro__header {
  margin: 0;
  margin: 0 auto;
  width: 85%;
  text-align: center;
  letter-spacing: 0.25px;
  margin-bottom: 10px;

  @include font(60px, 700, 72px, "Bebas Neue", $white);
}

.intro__description {
  margin: 0;
  margin: 0 auto;
  margin-bottom: 28px;
  width: 85%;
  letter-spacing: 0.25px;

  @include font(16px, normal, 24px, "Montserrat", $white);
  text-align: center;
}

.intro__about-button {
  margin: 0 auto;
  width: 70%;
  order: 1;
  margin-bottom: 55px;
}

.intro__list {
  @include clear-ul;

  width: 70%;
  margin: 0 auto;
  margin-bottom: 19px;
}

.intro__list-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.intro__list-item-number {
  margin: 0;

  @include font(60px, 700, 70px, "Bebas Neue", $blue);
  letter-spacing: 1.5px;
}

.intro__list-item-unit {
  margin: 0;

  @include font(14px, normal, 18px, "Arimo", $white);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.intro__list-item {
  margin-bottom: 30px;
}

.intro__partners-list {
  order: 2;
}

@include tablet {
  .intro {
    margin-top: -140px;
  }

  .intro__wrapper {
    max-width: $tablet-middle-width;
    padding: 190px 70px 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .intro__text-wrapper {
    width: 70%;
    margin-bottom: 95px;
  }

  .intro__header {
    font-size: 100px;
    line-height: 120px;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
  }

  .intro__description {
    font-size: 19px;
    line-height: 30px;
    text-align: left;
    margin: 0;
  }

  .intro__list {
    width: 30%;
    margin: 0;
    margin-top: 5px;
  }

  .intro__list-item {
    margin-bottom: 25px;
  }

  .intro__list-item-number {
    font-size: 72px;
    line-height: 86px;
  }

  .intro__about-button {
    width: 48%;
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1px;
    padding: 24px;
    margin-bottom: 60px;
  }

  .intro__partners-list {
    width: 100%;
  }
}

@include desktop {
  .intro {
    margin-top: -160px;
  }

  .intro__text-wrapper {
    width: 72%;
    margin-bottom: 90px;
  }

  .intro__wrapper {
    max-width: $desktop-width;
    padding: 285px 30px 85px;
  }

  .intro__header {
    font-size: 200px;
    line-height: 240px;
    margin-bottom: 0;
  }

  .intro__description {
    font-size: 23px;
    line-height: 36px;
  }

  .intro__list-item-number {
    margin-top: 13px;
    font-size: 100px;
    line-height: 120px;
  }

  .intro__list {
    width: 22%;
    margin-right: 6%;
  }

  .intro__description {
    width: 60%;
  }

  .intro__about-button {
    width: 25%;
  }

  .intro__partners-list {
    width: 60%;
  }
}
