.page-header {
  position: relative;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 41px 20px;
  max-width: $mobile-middle-width;
  margin: 0 auto;
}

.page-header__contacts-link-text {
  display: none;
}

.page-header__logo-link {
  &:hover,
  &:active {
    opacity: 0.8;
  }
}

.page-header__toggle {
  width: 34px;
  height: 24px;
  background-color: transparent;
  border: none;

  @include back("../img/mobile-menu.png");
}

.page-header__logo-wrapper {
  width: 148px;
  height: 39px;
}

.page-header__language-list {
  display: none;
}

.page-header__description {
  display: none;
}

.page-header__contacts-link-image {
  margin-top: 2px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.page-header__site-list {
  display: none;
}

@include tablet {
  .page-header {
    border-bottom: 1px solid $grey;

    &--inner {
      border-color: #666d71;
    }
  }

  .page-header__wrapper {
    max-width: $tablet-middle-width;
    padding: 29px 70px 51px;
  }

  .page-header__toggle {
    margin-top: 25px;
  }

  .page-header__language-list {
    display: flex;
  }

  .page-header__contacts-link-image {
    display: none;
  }

  .page-header__contacts-link-text {
    display: block;
    margin-top: 20px;

    @include font(30px, 700, 36px, "Bebas Neue", $white);
    letter-spacing: 0.5px;

    &:hover,
    &:active {
      opacity: 0.8;
    }
  }

  .page-header__logo-wrapper {
    width: 217px;
    height: 55px;
    margin-left: 10px;
  }
}

@include desktop {
  .page-header__wrapper {
    max-width: $desktop-width;
    padding: 45px 30px 51px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__description {
    display: block;
    margin: 0;
    margin-top: 8px;
    width: 22%;

    @include font(12px, normal, 18px, "Montserrat", $light-grey);
  }

  .page-header__site-list {
    display: block;
    position: absolute;
    width: 100%;
    max-width: $desktop-width;
    left: 50%;
    transform: translateX(-50%);
  }

  .page-header__logo-wrapper {
    margin-left: 0;
  }

  .page-header__contacts-link-text {
    margin-top: 10px;
  }
}
