.partners__wrapper {
  padding: 10px 20px;
  max-width: $mobile-middle-width;
  margin: 0 auto;
}

.partners__header {
  margin: 0;
  text-align: center;
  margin-bottom: 30px;

  @include font(48px, bold, 54px, "Bebas Neue", $black);
}

.partners__list {
  @include clear-ul;

  display: flex;
  flex-direction: column;
}

.partners__item {
  position: relative;
  @include back("../img/partner-back.jpg");
  margin-bottom: 15px;

  &::before {
    @include pseudo;

    width: 40%;
    height: 100%;
    background-color: $blue;
    opacity: 0.6;
  }
}

.partners__item-wrapper {
  position: relative;
  padding: 50px 20px 45px 45px;
}

.partners__description {
  margin: 0;
  @include font(14px, normal, 24px, "Montserrat", $white);
}

.partners__image-wrapper {
  margin-bottom: 30px;
}

@include tablet {
  .partners__wrapper {
    max-width: $tablet-middle-width;
    padding: 55px 70px 20px;
  }

  .partners__header {
    text-align: left;
    font-size: 72px;
    line-height: 72px;
    width: 100%;
    margin-bottom: 40px;
  }

  .partners__description {
    font-size: 17px;
    line-height: 30px;
    width: 80%;
  }

  .partners__list {
    max-width: 620px;
  }

  .partners__item-wrapper {
    position: relative;
    padding: 67px 20px 45px 70px;
  }

  .partners__item {
    margin-bottom: 15px;
  }
}

@include desktop {
  .partners__swiper {
    overflow: hidden;
  }

  .partners__wrapper {
    max-width: $desktop-width;
    padding: 80px 30px 20px;
  }

  .partners__header {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 60px;
  }

  .partners__list {
    flex-direction: row;
  }

  .partners__item {
    width: 49%;
  }

  .partners__image-wrapper {
    margin-bottom: 35px;
  }

  .partners__item-wrapper {
    position: relative;
    padding: 67px 20px 40px 70px;
  }
}
