.principles-slider {
  overflow: hidden;
}

.principles-slider__item {
  position: relative;

  &--1 {
    @include back("../img/slider1.jpg");
  }

  &:before {
    @include pseudo;

    bottom: 0;

    height: 57%;
    width: 100%;
    opacity: 0.97;

    background-color: $blue;
  }
}

.principles-slider__wrapper {
  position: relative;
  padding: 355px 30px 80px;
  max-width: $mobile-middle-width;
  margin: 0 auto;
}

.principles-slider__header {
  margin: 0;
  margin-bottom: 15px;

  @include font(18px, 700, 24px, "Montserrat", $white);
  letter-spacing: 0.25px;
}

.principles-slider__description {
  margin: 0;

  @include font(16px, normal, 24px, "Montserrat", $white);
  letter-spacing: 0.1px;
}

@include tablet {
  .principles-slider {
    padding: 0 70px;
    max-width: $tablet-middle-width;
    margin: 0 auto;
  }

  .principles-slider__wrapper {
    padding: 500px 60px 110px;
    max-width: $tablet-middle-width;
    margin: 0 auto;
  }

  .principles-slider__item {
    &:before {
      height: 370px;
      opacity: 1;
    }
  }

  .principles-slider__header {
    font-size: 25px;
    line-height: 37px;
  }

  .principles-slider__description {
    font-size: 17px;
    line-height: 30px;
  }
}

@include desktop {
  .principles-slider {
    max-width: $desktop-width;
    padding: 10px 30px;
  }

  .principles-slider__wrapper {
    padding: 135px 10px 220px 153px;
    width: 30%;
    margin: 0;
  }

  .principles-slider__item {
    &:before {
      height: 100%;
      width: 50%;
      opacity: 0.93;
    }
  }

  .principles-slider__header {
    margin-bottom: 30px;
  }
}
