.target__wrapper {
  padding: 40px 20px;
  max-width: $mobile-middle-width;
  margin: 0 auto;
}

.target__header {
  margin: 0;
  text-align: center;
  margin-bottom: 40px;

  @include font(48px, bold, 54px, "Bebas Neue", $black);
}

.target__description {
  margin: 0;
  margin-bottom: 20px;

  @include font(16px, normal, 24px, "Montserrat", $black);
}

.target__text-wrapper {
  margin-bottom: 30px;
}

@include tablet {
  .target__wrapper {
    max-width: $tablet-middle-width;
    padding: 55px 70px 20px;
  }

  .target__header {
    text-align: left;
    font-size: 72px;
    line-height: 72px;
    width: 100%;
    margin-bottom: 25px;
  }

  .target__description {
    font-size: 16px;
    line-height: 30px;
    width: 48%;
  }

  .target__text-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

@include desktop {
  .target__wrapper {
    max-width: $desktop-width;
    padding: 105px 30px 20px;
  }

  .target__header {
    font-size: 100px;
    line-height: 100px;
  }

  .target__description {
    font-size: 19px;
  }
}
