$mobile-width: 320px;
$mobile-middle-width: 440px;
$mobile-max-width: 759px;
$tablet-width: 760px;
$tablet-middle-width: 820px;
$desktop-width: 1280px;
$desktop-min-width: 1150px;

$black: #000000;
$white: #ffffff;
$blue: #0a8fe3;
$dark-blue: #1c426b;
$grey: #41484d;
$light-grey: #a7a7a7;
