$mobile-width: 320px;
$mobile-middle-width: 440px;
$tablet-width: 760px;
$tablet-middle-width: 880px;
$desktop-width: 1280px;
$desktop-min-width: 1150px;

$black: #000000;
$white: #ffffff;
$blue: #0a8fe3;
$grey: #41484d;
$light-grey: #a7a7a7;
